body {
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
  url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
  background-size: cover;
  color: gold;
  font-family: Arial;
}

h1 {
  font-size: 60px;
  margin-top: 50px;
}

.tagline {
  font-style: italic;
  color: #ffd700;
}

.chat {
  background: rgba(0,0,0,0.8);
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
}

input {
  width: 70%;
  padding: 10px;
}

button {
  padding: 10px;
  background: gold;
  border: none;
  cursor: pointer;
}
